@import "../libs/bootstrap5/bootstrap-reboot.min.css";
@import "../libs/bootstrap5/bootstrap-grid.min.css";
@import "../fonts/icomoon/style.css";
@import "../css/components/header.css";
@import "../css/components/navbar.css";

/* Обнуление*/
/* *{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;} */

/*-------------------- */

.font1{
    font-family: 'Montserrat', sans-serif !important;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #22293D;
    font-size: 16px;
    min-width: 280px;
    background-color: #fff;
    overflow-x: hidden;
    min-height: 900vh;
}
h1{
    font-size: 48px;
    line-height: 59px;
    font-weight: 600;
    padding-bottom: 25px;
    margin-bottom: 0;
}
p{
    line-height: 200%;
}
